/* GLOBAL PAGE STYLE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  display: table;
  content: '';
  clear: both;
}

ul {
  list-style: none;
}

/* HEADER STYLE */

.page-header {
  width: 1600px;
  margin: 0 auto;
  padding-top: 38px;
  padding-bottom: 100px;
}

/* HIDEN H1 */

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* NAVIGATION STYLE */

.page-nav {
  width: 1110px;
  margin: 0 auto;
}

.site-logo {
  font-size: 30px;
  color: #555252;
  text-transform: uppercase;
  line-height: 1.067;
  display: inline-block;
  text-decoration: none;
  float: left;
}
.site-logo:first-letter {
  font-weight: bold;
  color: #1abc9c;
}
/* site navigation */
.site-navigation {
  margin: 7px 0px;
  padding: 0;

  float: right;
}
.site-navigation li {
  float: left;
}
.site-navigation li:not(:last-child) {
  margin-right: 35px;
}
.page-nav a:hover {
  color: #1abc9c;
}

.site-navigation a {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #0f0101;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
}

/* SLIDER STYLE */

.conteiner-for-slider {
  width: 1600px;
  margin: 0 auto;
  position: relative;
  color: #ffffff;
  text-transform: uppercase;
}
.slider {
  position: relative;
}
.slider::before {
  content: '';
  display: table;
  top: 0;
  bottom: 0;
  width: 1600px;
  background-color: rgba(0, 0, 2, 0.5);
  position: absolute;
  z-index: 1;
}
h2 {
  font-size: 60px;
  line-height: 82px;
}
.slider p {
  font-size: 24px;
}
.tours-wrapper {
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.arrows-wrapper {
  width: 1110px;
  position: absolute;
  top: 277px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.left-button {
  float: left;
  text-align: center;
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.right-button {
  float: right;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.left-button:hover {
  background-color: rgba(26, 188, 156, 0.6);
}
.right-button :hover {
  background-color: rgba(26, 188, 156, 0.6);
}

/* COLLECTION STYLE */

.container-for-collection {
  width: 1600px;
  margin: 0 auto;
  background-color: rgb(233, 240, 253);
  padding-bottom: 100px;
}
.collection {
  width: 1110px;
  margin: 0 auto;
}
.header-collection {
  font-size: 48px;
  color: rgb(81, 81, 81);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 80px;
  padding-top: 104px;
}
.header-collection::after {
  content: '';
  display: block;
  margin: auto;
  background-color: rgb(26, 188, 156);
  width: 164px;
  height: 7px;
  margin-top: 32px;
  width: 164px;
  height: 7px;
}

.list-collection {
  width: 255px;
  float: left;
  position: relative;
}

.list-collection:not(:nth-child(4n)) {
  margin-right: 30px;
}

.collection p {
  margin: 0 auto;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.778;
  background-color: #323232;
  float: left;
  width: 201px;
  cursor: default;
  padding-left: 14px;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.778;
  text-align: center;
  background-color: #8c8c8c;
  float: right;
  width: 54px;
  cursor: default;
}

.list-collection:hover .product-name {
  background-color: #1abc9c;
}
.list-collection:hover .product-price {
  background-color: #7fd9c7;
}

.list-collection:hover .overlay {
  display: block;
}
.overlay {
  width: 255px;
  height: 282px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  border: 10px solid rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
  display: none;
}
.overlay_list-item-link {
  display: block;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
}
.overlay_list-item-link_heart {
  background-image: url('../images/heart.png');
}
.overlay_list-item-link_arrows {
  background-image: url('../images/arrows.png');
}
.overlay_list-item-link_clock {
  background-image: url('../images/clock.png');
}
.overlay_list-item-link_basket {
  width: 166px;
  background-image: url('../images/basket.png');
}
.overlay_list-item {
  float: left;
}
.overlay_list-item:not(:nth-child(1n + 3)) {
  margin-right: 8px;
}
.overlay_list-item:not(:last-child) {
  margin-bottom: 7px;
}
.overlay_list {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 166px;
}
.overlay_list-item:last-child footer {
  width: 1600px;
  margin: 0 auto;
  color: rgb(254, 254, 254);
  background-color: rgb(50, 50, 50);
}

.overlay_list-item-link_basket:hover {
  background-color: rgb(50, 50, 50);
}
.overlay_list-item-link_clock:hover {
  background-color: rgb(26, 188, 156);
  border-color: rgb(26, 188, 156);
}
.overlay_list-item-link_arrows:hover {
  background-color: rgb(26, 188, 156);
  border-color: rgb(26, 188, 156);
}
.overlay_list-item-link_heart:hover {
  background-color: rgb(26, 188, 156);
  border-color: rgb(26, 188, 156);
}
.container-for-footer {
  width: 1600px;
  margin: 0 auto;
  background-color: rgb(50, 50, 50);
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: rgb(254, 254, 254);
}

footer p {
  padding-top: 38px;
  padding-bottom: 33px;
  color: rgb(254, 254, 254);
}

footer a {
  color: #46bfa9;
  text-decoration: none;
}
